* {
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;
}

html {
    width: auto;
    height: auto;
}

body {
    height: 100vh;
    background-color: #058484;
    display: grid;
    place-items: center;
}

div.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    height: 90vh;
    background-color: #c2c2c2;
    box-shadow: 3px 3px rgb(44, 44, 44),
        inset 2px 2px white;
}

/* window-title (tab) */

div.window-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: inset 2px 2px white;
    background-color: #010080;
}

.window-title>span {
    margin: 0 10px;
}


/* window header */

div.window-header {
    font-family: 'Caprasimo', cursive;
    padding-top: 10px;
    text-align: center;
    font-size: 55px;
}

.window-header>span {
    font-family: 'Caprasimo', cursive;
}


/* window content (setting + palette) */

div.window-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4vh;
}


/* setting section */

div.setting {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20vw;
    height: 70vh;
}

div.tool {
    display: flex;
    justify-content: space-evenly;
}

div.grid-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.color {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin: 0 10px;
}

/* grid */

div.grid-container {
    cursor: pointer;
    width: 60vh;
    height: 60vh;
    border: 0.5px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9e1;
}

div.grid-child {
    flex: calc(60vh/16);
    border: 0.5px solid black;
    box-sizing: border-box;
}



/* buttons */

button {
    padding: 3px 6px;
    background-color: #c2c2c2;
    box-shadow: 1px 1px 0.5px rgb(44, 44, 44),
        inset 1.5px 1.5px white;
}

button#refresh {
    font-size: 18px;
    width: 30px;
    margin: 3px;
}