* {
    margin: 0;
    padding: 0;
}

html {
    width: auto;
    height: auto;
}

body {
    height: 100vh;
    background-color: #058484;
    display: grid;
    place-items: center;
}

div.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    height: 90vh;
    background-color: #c2c2c2;
}

div.window-title {
    background-color: #818181;
}

div.window-header {
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
}

div.window-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4vh;
}

div.tool {
    display: flex;
    justify-content: space-between;
}

div.setting {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}

div.grid-container {
    width: 70vh;
    height: 70vh;
    border: 0.5px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9e1;
}

div.grid-child {
    flex: calc(70vh/16);
    border: 0.5px solid black;
    box-sizing: border-box;
}